cabby==0.1.23
certifi==2020.12.5
chardet==4.0.0
colorlog==4.7.2
cybox==2.1.0.21
decorator==4.4.2
furl==2.1.0
idna==2.10
libtaxii==1.1.118
lxml==4.6.2
mixbox==1.0.5
ordered-set==4.0.2
orderedmultidict==1.0.1
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
six==1.15.0
stix==1.2.0.11
urllib3==1.26.5
validators==0.18.2
weakrefmethod==1.0.3